* {
  margin: 0;
  padding: 0;
  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}

.container {
  background: #b57575 url(../img/3.jpg) top center no-repeat;
  background-color: #6e10ea;
  background-color: rgba(46, 92, 119, 0.8);
  background-size: cover;
  position: relative;
  height: 100%;
  background-blend-mode: luminosity;
}
